@font-face {
    font-family: SourceSansPro;
    src: url('assets/fonts/SourceSansPro-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SourceSansPro;
    src: url('assets/fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SourceSansPro;
    src: url('assets/fonts/SourceSansPro-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: SourceSansPro;
    font-weight: 500;
}

h1, h2 {
    font-family: SourceSansPro;
    font-weight: 600;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

p, span {
    font-family: SourceSansPro;
    font-weight: 500;

    font-size: 11px;
}

table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;

}

table th {
    height: 30px;
    font-family: SourceSansPro;
    font-weight: 600;
    color: #315a61;
    text-align: left;
    text-transform: uppercase;
    border-bottom: solid 1px #315a61;
}

table tr {
    background-color: #f8fafa;
    border-bottom: solid 1px white;
}
table tr:first-child{
    background-color: white;
}

table tr.dark{
    background-color: #e9eff0;
}


table td {
    font-size: 13px;
    height: 30px;
    font-family: SourceSansPro;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    background-color: #f8fafa;
    color: #2c3a3d;
    border-bottom: solid 1px lightgray;
}

header .wrapper {
    flex-grow: 1;
}

header p {
    font-size: 14px;
}

header img {
    height: 30px;
}


button.print-button{
    position: fixed;
    bottom: 50px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #315a61;
    border:solid 2px white;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
button.print-button:hover{
    filter: brightness(0.7);
}
button.print-button img{
    height: 25px;
    object-fit: contain;
}




.container {
    padding: 10px 0px;
}

.container .wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.container .wrapper h2 {
    text-transform: uppercase;
    color: #2c3a3d;
    margin-right: 20px;
    width: 120px;
    min-width: 120px;
}

textarea {
    width: 100%;
    color: #2c3a3d;
    font-family: SourceSansPro;
    resize: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border-color: lightgray;
}

.wrapper.totals {
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    padding: 0 15px;
    background-color: #315a61;
    color: white;
}

.wrapper.totals p {
    text-transform: uppercase;
    margin-left: 15px;
}

.wrapper.totals span {
    font-weight: 600;
}

.container.offline-editing {
    padding-top: 0;
}

.container.offline-editing h2.title {
    color: #315a61;
    margin-top: 10px;
}

.container.offline-editing .line-container .line {
    border-bottom: solid 1px #315a61;
    height: 25px;
    width: 100%;
}

.container.offline-editing .line-container.small .line {
    width: 50%;
}

.container.detection-maps h1{
    margin-bottom: 20px;
}
.container.detection-maps h1 span{
    font-size: 20px;
}

.container.detection-maps .grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
}
.container.detection-maps .grid .content h2{
    margin:0 0 10px 10px;
    color: #315a61;
    text-transform: uppercase;
}
.container.detection-maps .grid .content img{
    width:100%;
    object-fit: cover;
    border-top: solid 2px #315a61;
}


/*Print*/
@media print {
    @page {
        size: A4 portrait;
        margin: 17mm 0 17mm 0;
    }
    @page:first {
        margin: 0 0 17mm 0;
    }
    .print-button{
        display: none;
    }
    .reset-button{
        display: none;
    }
    body {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        margin: auto;
    }

    table tr {
        page-break-before: always;
    }

    textarea {
        border: 0;
        overflow: hidden;
        resize: none;
    }
    textarea::placeholder{
        opacity:0;
    }
    .container.offline-editing{
        page-break-before: auto;
    }
    .container.offline-editing h2{
        page-break-before: avoid;
    }
    .container.detection-maps{
        page-break-before: always;
    }
    .container.detection-maps .grid .content{
        page-break-before: auto;
    }

}



.hidesection{
    display: none;
}

.showsection{
    display: inline-flex;
}


